# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
runs/

/common/src/generated
/forge/src/generated/
/fabric/src/generated/
/neoforge/src/generated/
